<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gao.product.mapper.SpuSaleMapper">

    <resultMap id="spuSaleAttrMap" type="com.gao.model.product.SpuSaleAttr" autoMapping="true">
        <id property="id" column="id"></id>
        <!--配置1:n-->
        <collection property="spuSaleAttrValueList" ofType="com.gao.model.product.SpuSaleAttrValue" autoMapping="true" >
            <!--id 重复要起别名-->
            <id property="id" column="sale_attr_value_id"></id>
        </collection>
    </resultMap>
    <select id="getSpuSaleAttrListCheckBySku" resultMap="spuSaleAttrMap">
     SELECT sa.id ,sa.spu_id, sa.sale_attr_name,sa.base_sale_attr_id,
        sv.id sale_attr_value_id,
        sv.sale_attr_value_name,
        skv.sku_id,
        IF(skv.sku_id IS NULL,0,1)  is_checked
        FROM spu_sale_attr sa
        INNER JOIN spu_sale_attr_value  sv ON  sa.spu_id=sv.spu_id AND sa.base_sale_attr_id=sv.base_sale_attr_id
        LEFT JOIN sku_sale_attr_value skv ON skv.sale_attr_value_id= sv.id AND skv.sku_id=#{skuId}
        WHERE  sa.spu_id=#{spuId}
        ORDER BY sv.base_sale_attr_id,sv.id
</select>
</mapper>